<h1>Today I have...</h1>

<h2>My Updates</h2>
<div class="my-posts">
  <% @posts.each do |post| %>
    <% if post.user_id == current_user %>
    <div class="post-card">
      <%= post.title %>
      <%= post.created_at %>
      <% post.tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
<div class="posts">
  <% @posts.each do |post| %>
    <% if post.user_id != current_user %>
      <div class="post-card">
        <%= post.user.username %>
        <%= post.title %>
        <%= post.created_at %>
              <% post.tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
      </div>
    <% end %>
  <% end %>
